body{
    background-color: black;
}


#inputFields{
    text-align:center ;
    margin-top: 40px;
}
#container{
    display:flex;
    flex-wrap: wrap;
    width:85%;
    margin:40px auto;
}
.movieBlog{
    border:2px solid blue;
    margin:20px;
    width:calc(25% - 4px - 40px);
}
.moviePoster{
    width:100%;
    height: 250px;
}
.movieDetails{
    padding: 15px;
    color:white
}
#movieStatus{
    text-align: center;
    margin-top: 40px;
    color: red;
}
@media (max-width :600px){
    .movieBlog {
        border:2px solid blue;
        margin:20px;
        width: calc(100% - 4px - 40px);
}
}

@media (min-width:601px){
    .movieBlog{
        border:2px solid blue;
        margin:20px;
        width:calc(50% - 4px - 40px);
    }
}

@media (min-width:800px){
    .movieBlog{
        border:2px solid blue;
        margin:20px;
        width:calc(33.33% - 4px - 40px)
    }
}

@media (min-width:1200px){
    .movieBlog{
        border:2px solid blue;
        margin:20px;
        width:calc(25% - 4px - 40px)
    }
}